{% extends 'base.html' %}

{% block content %}
<h1>Edit Post</h1>

<form method="POST">
  <input type="text" name="title" value="{{ post.title }}"><br>
  <textarea type="text" name="content">{{ post.content }}</textarea><br>

  {% for tag in tags %}
  <input type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags"
    {% if tag in post.tags %}
    checked
    {% endif %}>
  <label for="tag_{{ tag.id }}">
      {{ tag.name }}
  </label>
  {% endfor %}

  <br>
  <a href="/users/{{ post.user_id }}">Cancel</a>
  <button type="submit">Submit</button>
</form>

{% endblock %}